// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

/*
======
Fonts
======
*/
// sans-serif
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// handwriting
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
// artsy
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&display=swap');

/*
======
Variables
======
*/
:root {
  --primaryFont: 'Roboto', sans-serif;
  --handwritingFont: 'Caveat', cursive;
  --artsyFont: 'Cinzel Decorative', cursive;

  --primaryColor: rgba(0, 0, 0, 0.9);
  --primaryGreyColor: rgba(0, 0, 0, 0.5);
  --secondaryColor: #75a3a3;
}

/*
======
Global Styles
======
*/
body {
  font-family: var(--primaryFont);
}

.mainContent {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
@media screen and (min-width: 1921px) {
  .mainContent {
    max-width: 1800px;
  }
}

/*
======
Header
======
*/
nav {
  text-transform: capitalize;
}

.navbar-brand {
  font-family: var(--artsyFont);
}

/*
======
loading
=====
*/
.loading {
  position: fixed; /* or absolute */
  top: 20%;
  left: 50%;
  transform: scale(3);
  font-family: var(--handwritingFont);
}

/*
======
card
=====
*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

$grid-gutter-width: 30px !default;

.card-deck {
  text-transform: capitalize;
}

/*
======
category card
=====
*/

// number of cards per line for each breakpoint
$category-cards-per-line: (
  xs: 1,
  sm: 2,
  md: 3,
  lg: 4,
  xl: 5,
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .category-card {
      flex: 0 0
        calc(
          #{100 / map-get($category-cards-per-line, $name)}% - #{$grid-gutter-width}
        );
    }
  }
}

.category-card {
  height: 20rem;
  padding-bottom: 1rem;
  border: none;
}

.category-cardImageContainer {
  width: 100%;
  height: 90%;
}

/* resize images */
.category-cardImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-cardBody {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-cardBody span {
  color: var(--primaryColor);
}

/*
======
recipe card
=====
*/
// number of cards per line for each breakpoint
$recipe-cards-per-line: (
  xs: 1,
  sm: 2,
  md: 2,
  lg: 3,
  xl: 4,
);

@each $name, $breakpoint in $grid-breakpoints {
  @media (min-width: $breakpoint) {
    .card-deck .recipe-card {
      flex: 0 0
        calc(
          #{100 / map-get($recipe-cards-per-line, $name)}% - #{$grid-gutter-width}
        );
    }
  }
}

.recipe-card {
  height: 30rem;
  padding-bottom: 1rem;
  border: none;
}

.recipe-cardImageContainer {
  width: 100%;
  height: 80%;
}

/* resize images */
.recipe-cardImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-cardBody {
  height: 20%;
}

.recipe-cardTitle {
  padding-top: 0.5rem;
}

.recipe-cardBody span {
  color: var(--primaryColor);
}

.recipe-cardTimer {
  color: var(--secondaryColor);
}
.recipe-cardIngredients {
  color: var(--secondaryColor);
}

/*
======
categories cards
=====
*/
.categories div {
  margin: 0 auto;
}

/*
======
carousel
=====
*/
.carousel {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  padding-bottom: 5rem;
}

.carousel-item {
  cursor: pointer;
}

.carousel-captionTitle {
  text-transform: capitalize;
  color: var(--primaryGreyColor);
  font-weight: bold;
}

.carousel-caption p {
  color: white;
}

.carousel-indicators li,
.carousel-indicators .active {
  background-color: var(--secondaryColor);
}

@media (max-width: 576px) {
  .carousel-captionTitle {
    font-size: 1rem;
  }
  .carousel-caption {
    font-size: 0.85rem;
    top: 50% !important;
  }
  .carousel-indicators li,
  .carousel-indicators .active {
    background-color: white;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .carousel-captionTitle {
    font-size: 1.5rem;
  }
  .carousel-caption {
    top: 55% !important;
  }
  .carousel-indicators {
    top: 75% !important;
  }
}
@media (min-width: 769px) and (max-width: 1920px) {
  .carousel-captionTitle {
    font-size: 2.5rem;
  }
  .carousel-caption {
    font-size: 1.5rem;
    top: 60% !important;
  }
  .carousel-indicators {
    top: 82% !important;
  }
}
@media (min-width: 1921px) {
  .carousel-captionTitle {
    font-size: 3rem;
  }
  .carousel-caption {
    font-size: 2rem;
    top: 70% !important;
  }
  .carousel-indicators {
    top: 85% !important;
  }
}

/*
======
myTitle
=====
*/
.myTitle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  padding-bottom: 2rem;
  color: var(--primaryColor);
}
.myTitle span {
  font-family: var(--handwritingFont);
  text-transform: capitalize;
  font-size: 3rem;
}

/*
======
Recipe Jumbotron
=====
*/
.jumbotron {
  font-weight: bold;
  color: var(--primaryGreyColor);
  background-color: transparent !important;
  padding: 1rem;
}
.recipeJumbotron-contentContainer {
  border-width: 0 !important;
}
.recipeJumbotron-imageContainer {
  border-width: 0 !important;
  height: 22rem;
  max-width: 30rem;
  padding: 0;
}
.recipeJumbotron-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipeJumbotron-description {
  font-weight: normal;
  color: var(--primaryColor);
}
.recipeJumbotron-keyword {
  color: var(--secondaryColor);
  text-transform: capitalize;
}
.inner-ListGroup .list-group-item {
  border-width: 0 !important;
  padding: 0.25rem 1.25rem;
}
